<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <h1>Festive</h1>        
        <p>Crie um convite digital para seu evento</p>
    </header> 
    <main>
        
     
            <div class="login-festa">
                <form action="login.php" method="post">
                    <fieldset> <legend>Festive</legend>
                    <label for="login">Login</label><br>
                    <input type="text" name="login" id="login" required><br>
                    <label for="senha">Senha</label><br>
                    <input type="password" name="senha" id="senha" required min="6"><br>
                    <p>Não esquecer senha</p>
                    <input class="enviar" type="submit" value="Enviar">
                    </fieldset>
                   
                </form>
            </div>
       
    </main>
    <footer>
        <a href="https://github.com/RosaCL"><img src="../../public/img/costureza.png" alt=""></a>
    </footer>
</body>
</html>