@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Poiret+One&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poiret One", sans-serif;
    font-weight: 800;
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 8px;
}
header{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    background: rgba(0, 0, 0, 0.63);
    color: aliceblue;
}
header h1{
    font-family: "Henny Penny", system-ui;
    color:aliceblue;   
    margin: 5px;
}
header p{
    margin: 10px;
} 
body{  
    width: 100%;
    height: 100vh;
    background-image: url(../../public/img/cake-colorful-balloons.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}    

main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: rgba(0, 0, 0, 0.6);
text-align: center;
padding: 30px;
border-radius: 20px;
font-size: 3rem;
}
.home h1{
    font-family: "Henny Penny", system-ui;
    color:aliceblue;   
    margin: 5px;
}
.home button{
    border: 3px solid purple;
    background: rgb(0,0,0,0.6);
    color: aliceblue;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    margin: 5px;
    padding: 10px;
    font-size: 2rem;

}
.home button:hover{
    background-color: blueviolet;
    cursor: pointer;
}
.cadastro{
    display: flex;  
    align-items: center;  
    justify-content: center; 
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    background: rgb(0,0,0,0.6);
    color: aliceblue;
    }
.cadastro input{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    }
#name{
    width: 800px;
}
#senha{
    width: 800px;
}

.formula{
    display: flex;  
    align-items: center;  
    justify-content: center; 
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    background: rgb(0,0,0,0.6);
    color: aliceblue;
    
}
.formula h1, h2{
    text-align: center;
}

.formula input{
    
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

#evento{
    width: 800px;
}  
#descricao{
    width: 800px;
    height: 200px;
}
#nome {
    width: 800px;
}
#email{
    width: 800px;
} 
.login-festa{ 
    margin: 200px 200px 200px;
    padding: 20px;
    border-radius: 20px;
    background: rgb(105, 100, 100);
    color: aliceblue; 
    font-size: 2rem;
}
.login-festa input{
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 800px;
}
.enviar{
margin: 10px;
padding: 10px;
font-size: 2rem;
background: rgb(105, 100, 100);
color: aliceblue;
}
.enviar:hover{
    background: blueviolet;
    cursor: pointer;
}
legend{
    font-family: "Henny Penny", system-ui;
    font-size: 4em;
    color: aliceblue;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.63);
    bottom: 0;
    position: fixed;
    width: 100%;   
}